.customInput {
  --_icons-size: 1.5rem;
  --_padding-left: 1rem;
  --_padding-right: 1rem;
  --_padding-top: 1.5rem;
  --_add-inline-padding: 0rem;
  --_padding-bottom: 0.6rem;

  position: relative;
  width: 20em;

  label {
    position: absolute;
    top: calc((var(--_padding-top) + var(--_padding-bottom)) / 2);
    left: var(--_padding-left);

    pointer-events: none;
    user-select: none;

    white-space: nowrap;

    color: hsl(var(--on-surface-hsl));
    font-size: var(--body-l-fs);

    transition: 200ms ease;
  }

  input {
    width: 100%;
    padding-block: var(--_padding-top) var(--_padding-bottom);
    padding-inline: var(--_padding-left) var(--_padding-right);

    color: transparent;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: transparent;
    }
  }

  &._withLeading {
    --_leading-padding-inner: 0.7rem;
    --_leading-padding-outer: 1rem;

    --_padding-left: calc(
      var(--_leading-padding-inner) + var(--_leading-padding-outer) +
        var(--_icons-size)
    );
  }

  &._withTrailing {
    --_trailing-padding-inner: 0.2rem;
    --_trailing-padding-outer: 0.5rem;

    --_padding-right: calc(
      var(--_trailing-padding-inner) + var(--_trailing-padding-outer) +
        var(--_icons-size) + 1rem
    );
  }

  &._active {
    label {
      top: 0.4rem;
      font-size: var(--body-s-fs);
      color: hsl(var(--on-surface-variant-hsl));
    }

    input {
      color: hsl(var(--on-surface-hsl));
    }

    &._disabled {
      input {
        color: hsl(var(--on-surface-variant-hsl));
      }
    }
  }

  &._disabled {
    input {
      cursor: not-allowed;
    }

    label {
      color: hsl(var(--on-surface-variant-hsl));
    }

    svg {
      fill: hsl(var(--on-surface-variant-hsl));
    }
  }

  &._notValid {
    .wrapper {
      border-color: hsl(var(--danger-hsl));
    }

    label {
      color: hsl(var(--danger-hsl));
    }
  }

  &:focus-within:not(._notValid) {
    .wrapper {
      border-color: hsl(var(--primary-hsl));
    }

    label {
      color: hsl(var(--primary-hsl));
    }
  }
}

.options {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 20;

  width: 100%;

  background-color: hsl(var(--surface-container-hsl));
  border: 1px solid hsl(var(--outline-hsl));
  border-radius: var(--medium-shape);

  overflow: hidden;

  opacity: 0;
  visibility: hidden;

  transform: translateX(-50%) scale(0.9);

  transform-origin: center;

  transition: 200ms ease;

  &[aria-hidden="false"] {
    top: 110%;

    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  &Wrapper {
    overflow: auto;
    padding: 0.4em;
    display: grid;
    gap: 0.2em;
    max-height: 10.7rem;
  }
}

.option {
  position: relative;
  overflow: hidden;

  border-radius: var(--small-shape);
  text-align: left;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  padding: 0.5em 1em;

  transition: 200ms ease;

  &:focus {
    outline: none;

    background-color: hsl(var(--primary-container-hsl));
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: hsl(var(--primary-container-high-hsl));
    }
  }
}

.validError {
  display: grid;
  grid-template-rows: 0fr;

  transition: 200ms ease;

  p {
    color: hsl(var(--danger-hsl));

    font-size: var(--body-m-fs);
  }

  ._notValid & {
    grid-template-rows: 1fr;

    margin-top: 0.2rem;
  }
}

.wrapper {
  position: relative;

  background-color: hsl(var(--surface-container-hsl));

  border: 1px solid hsl(var(--outline-hsl));
  border-radius: var(--medium-shape);

  transition: 200ms ease;
}

.leading {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-inline: var(--_leading-padding-outer) var(--_leading-padding-inner);

  svg {
    width: var(--_icons-size);
    height: var(--_icons-size);

    fill: hsl(var(--on-surface-hsl));
  }
}

.trailing {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-inline: var(--_trailing-padding-inner) var(--_trailing-padding-outer);

  svg {
    width: var(--_icons-size);
    height: var(--_icons-size);
  }

  &._rotated {
    span {
      transform: rotate(180deg);
    }
  }
}
