.box {
  display: grid;
  place-items: center;

  max-width: 500px;

  gap: 0.5em;
}

.icon {
  &._danger {
    svg {
      fill: hsl(var(--danger-hsl));
    }
  }

  svg {
    fill: hsl(var(--success-hsl));
  }
}

.title {
  font-size: var(--title-l-fs);
  font-weight: 500;
}

.text {
  text-align: center;
  font-size: var(--body-extra-fs);
}

.actions {
  margin-top: 0.5em;
}
