@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./var.scss";

body[data-lock="true"] {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

// Customizing scroll
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-lowest-hsl));
}

// Customizing select
::-moz-selection {
  color: hsl(var(--surface-hsl));
  background: hsl(var(--primary-hsl));
}

::selection {
  color: hsl(var(--surface-hsl));
  background: hsl(var(--primary-hsl));
}

// Reset inputs
input::-ms-clear,
input::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
