:root {
  /* HSL BASE */
  --surface-base-hsl: 0, 0%;
  --primary-base-hsl: 274, 80%;
  --primary-container-base-hsl: 274, 16%;
  --danger-base-hsl: 0, 100%;
  --danger-container-base-hsl: 0, 16%;
  --success-base-hsl: 118, 49%;
  --success-container-base-hsl: 118, 16%;
  --warning-base-hsl: 54, 73%;
  --warning-container-base-hsl: 54, 16%;

  /* HSL */
  --surface-hsl: var(--surface-base-hsl), 7%;
  --surface-container-lowest-hsl: var(--surface-base-hsl), 4%;
  --surface-container-low-hsl: var(--surface-base-hsl), 10%;
  --surface-container-hsl: var(--surface-base-hsl), 12%;
  --surface-container-high-hsl: var(--surface-base-hsl), 17%;
  --surface-container-highest-hsl: var(--surface-base-hsl), 22%;
  --on-surface-hsl: var(--surface-base-hsl), 90%;
  --on-surface-variant-hsl: var(--surface-base-hsl), 60%;

  --primary-hsl: var(--primary-base-hsl), 80%;
  --primary-low-hsl: var(--primary-base-hsl), 75%;
  --primary-lowest-hsl: var(--primary-base-hsl), 70%;
  --primary-container-hsl: var(--primary-container-base-hsl), 18%;
  --primary-container-high-hsl: var(--primary-container-base-hsl), 23%;
  --primary-container-highest-hsl: var(--primary-container-base-hsl), 26%;
  --on-primary-hsl: var(--primary-base-hsl), 20%;

  --outline-hsl: var(--surface-base-hsl), 40%;
  --outline-variant-hsl: var(--surface-base-hsl), 30%;

  --danger-hsl: var(--danger-base-hsl), 70%;
  --danger-low-hsl: var(--danger-base-hsl), 65%;
  --danger-lowest-hsl: var(--danger-base-hsl), 60%;
  --danger-container-hsl: var(--danger-container-base-hsl), 18%;
  --danger-container-high-hsl: var(--danger-container-base-hsl), 23%;
  --danger-container-highest-hsl: var(--danger-container-base-hsl), 26%;
  --on-danger-hsl: var(--danger-base-hsl), 20%;

  --success-hsl: var(--success-base-hsl), 50%;
  --success-low-hsl: var(--success-base-hsl), 45%;
  --success-lowest-hsl: var(--success-base-hsl), 40%;
  --success-container-hsl: var(--success-container-base-hsl), 18%;
  --success-container-high-hsl: var(--success-container-base-hsl), 23%;
  --success-container-highest-hsl: var(--success-container-base-hsl), 26%;
  --on-success-hsl: var(--success-base-hsl), 20%;

  --warning-hsl: var(--warning-base-hsl), 60%;
  --warning-low-hsl: var(--warning-base-hsl), 55%;
  --warning-lowest-hsl: var(--warning-base-hsl), 50%;
  --warning-container-hsl: var(--warning-container-base-hsl), 18%;
  --warning-container-high-hsl: var(--warning-container-base-hsl), 23%;
  --warning-container-highest-hsl: var(--warning-container-base-hsl), 26%;
  --on-warning-hsl: var(--warning-base-hsl), 20%;

  --ripple-hsl: var(--primary-hsl);
  --placeholder-hsl: var(--surface-base-hsl), 50%;

  /* Sizes */
  --container-mw: calc(1400px + var(--container-pdi) * 2);
  --container-pdi: 1rem;
  --safe-area-pd: 1.5rem;

  /* UTILS */
  --primary-y-offset-bxs: 8px;
  --primary-offset-bxs: 0 var(--primary-y-offset-bxs) 24px;
  --primary-alpha-bxs: 0.15;

  --small-shape: 8px;
  --medium-shape: 12px;
  --large-shape: 16px;
  --extra-large-shape: 28px;

  --backdrop-filter-blur: 6px;

  /* FONTS */
  --main-ff: "Inter", sans-serif;

  --display-s-fs: 36px;
  --headline-l-fs: 32px;
  --headline-m-fs: 28px;
  --title-l-fs: 22px;
  --body-extra-fs: 18px;
  --body-l-fs: 16px;
  --body-m-fs: 14px;
  --body-s-fs: 12px;

  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.35;
}
