.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: grid;
  place-items: center;

  padding: var(--safe-area-pd);

  width: 100%;
  min-height: 100%;

  background-color: hsl(0, 0%, 0%, 0.8);

  transition: 200ms ease;

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;

    .wrapper {
      scale: 0.9;
    }
  }
}

.wrapper {
  max-width: 40rem;

  background-color: hsl(var(--surface-container-low-hsl));
  border-radius: var(--medium-shape);

  padding: 2em;

  overflow: hidden;

  transition: 150ms ease;
}

@keyframes openRoot {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes openWrapper {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  border-bottom: 1px solid hsl(var(--outline-variant-hsl));

  padding-bottom: 1em;

  // padding: 1rem 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: var(--title-l-fs);
  font-weight: 500;

  color: hsl(var(--primary-hsl));
}

.content {
  margin-top: 1em;

  font-size: var(--body-extra-fs);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  margin-top: 1em;

  // background-color: hsl(var(--background-base-hsl), 11%);

  // border-top: 1px solid hsl(var(--outline-variant-hsl));

  // padding: 1rem 2rem;
}
