.root {
  flex: 1;

  background-color: hsl(var(--surface-container-hsl));
  border-radius: var(--medium-shape);

  padding: 2rem;
}

.group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding-bottom: 1.5em;

  &._center {
    justify-content: center;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: var(--headline-m-fs);
  font-weight: 500;

  &._primary {
    color: hsl(var(--primary-hsl));
  }
}

.content {
  &._center {
    display: grid;
    place-items: center;
  }
}
