.sidebar {
  position: sticky;
  top: 0;
  left: 0;

  height: 100svh;

  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: var(--safe-area-pd);

  overflow: auto;

  flex: 0 1 18em;

  padding: var(--safe-area-pd);
}

.userProfile {
  font-size: var(--body-extra-fs);
}

.nav {
  &List {
    display: grid;
    gap: 0.3rem;
  }

  hr {
    background-color: hsl(var(--outline-variant-hsl));
    height: 2px;
    border-radius: 40px;

    margin-block: 1rem;
  }

  &Item {
    a {
      --_clr: var(--on-surface-hsl);

      position: relative;
      overflow: hidden;

      display: flex;
      align-items: center;
      gap: 0.5em;

      padding: 0.7em 1.5em;
      border-radius: var(--medium-shape);

      // font-size: var(--title-l-fs);
      font-size: var(--body-extra-fs);
      color: hsl(var(--_clr));

      transition: 200ms ease;

      svg {
        font-size: 1.75rem;
        fill: hsl(var(--_clr));

        transition: 200ms ease;
      }

      &:focus {
        --_clr: var(--primary-hsl);

        outline: none;
        background-color: hsl(var(--primary-container-hsl));
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          --_clr: var(--primary-hsl);

          background-color: hsl(var(--primary-container-high-hsl));
        }
      }
    }
  }
}

.profile {
  margin-top: auto;

  width: 100%;

  display: flex;
  align-items: center;
  gap: 1rem;

  &Wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;

    overflow: hidden;
  }
}
