.root {
  position: relative;
}

.triggerIcon {
  transition: 200ms ease;

  [aria-hidden="false"] & {
    rotate: 180deg;
  }
}

.activeCounter {
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(var(--primary-hsl));
  color: hsl(var(--on-primary-hsl));
  border-radius: 50%;

  font-size: var(--medium-shape);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding-inline: 1rem;
  padding-bottom: 0.7rem;
}

.title {
  font-size: var(--body-extra-fs);
  font-weight: 500;
  color: hsl(var(--primary-hsl));
}

.searchContainer {
  padding-inline: 1rem;
  padding-bottom: 0.5rem;
}

.content {
  --_gap: 1em;
  --_label-inline-pd: 0.7em;
  --_content-inline-pd: 0.3em;

  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;

  opacity: 0;
  visibility: hidden;

  width: max-content;
  min-width: 20rem;

  background-color: hsl(var(--surface-container-highest-hsl));

  padding-block: 1rem;

  border-radius: var(--medium-shape);

  transition: 200ms ease;

  [aria-hidden="false"] & {
    top: 120%;

    opacity: 1;
    visibility: visible;
  }
}

.container {
  max-height: calc(100vh - var(--offset-top) - 11rem);
  min-height: 100px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.group {
  &Trigger {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    background-color: hsl(var(--surface-container-highest-hsl));

    padding: 0.5rem 1rem;

    transition: background-color 200ms ease, color 200ms ease;

    [aria-expanded="true"] & {
      color: hsl(var(--primary-hsl));

      &Icon {
        rotate: -180deg;
      }
    }

    &Icon {
      transition: 200ms ease;
    }

    &:focus-visible {
      outline: 2px solid hsl(var(--primary-hsl));
      outline-offset: -3px;
      background-color: hsl(var(--primary-container-high-hsl));
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: hsl(var(--primary-container-highest-hsl));
      }
    }
  }

  &Container {
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;

    padding-top: 0;

    transition: 300ms ease;

    [aria-expanded="true"] & {
      grid-template-rows: 1fr;
      padding-top: 0.5rem;
      visibility: visible;
    }

    &Wrapper {
      overflow: hidden;
      position: relative;

      display: grid;
      gap: 0.3rem;

      &:after {
        content: "";

        position: absolute;
        top: 50%;
        left: 1.65rem;

        height: 100%;
        width: 2px;

        background-color: hsl(var(--outline-hsl));
        border-radius: var(--full-shape);

        translate: 0 -50%;
      }
    }
  }
}

.checkbox {
  display: flex;

  input {
    width: 0;
    height: 0;
    opacity: 0;

    &:focus-visible ~ label {
      background-color: hsl(var(--primary-container-high-hsl));
      outline: 2px solid hsl(var(--primary-hsl));
      outline-offset: -3px;
    }

    &:checked ~ label {
      span {
        background-color: hsl(var(--primary-hsl));
        border-color: hsl(var(--primary-hsl));

        svg {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  label {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    padding: 0.5em 1rem 0.5rem 3rem;

    transition: background-color 200ms ease;

    p {
      user-select: none;
    }

    span {
      --_border: 2px;

      flex-shrink: 0;

      width: calc(1em + var(--_border) * 2);
      height: calc(1em + var(--_border) * 2);
      border-radius: 3px;
      border: var(--_border) solid hsl(var(--outline-hsl));

      transition: 200ms ease;

      svg {
        opacity: 0;
        visibility: hidden;
        fill: hsl(var(--on-primary-hsl));

        transition: 200ms ease;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: hsl(var(--primary-container-highest-hsl));
      }
    }
  }
}
