.link {
  --_clr: var(--primary-hsl);
  --_bg-clr: transparent;

  position: relative;
  overflow: hidden;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;

  border-radius: 40px;

  color: hsl(var(--_clr));

  background-color: hsl(var(--_bg-clr));

  transition: 200ms ease;

  &.elevated {
    --_bg-clr: var(--primary-container-hsl);
  }

  &.filled {
    --ripple-hsl: var(--surface-hsl);
    --_clr: var(--on-primary-hsl);
    --_bg-clr: var(--primary-hsl);
  }

  svg {
    fill: hsl(var(--_clr));
  }

  &:focus {
    --_bg-clr: var(--primary-container-hsl);

    outline: none;

    &.elevated {
      --_bg-clr: var(--primary-container-high-hsl);
    }

    &.filled {
      --_bg-clr: var(--primary-low-hsl);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      --_bg-clr: var(--primary-container-high-hsl);

      &.elevated {
        --_bg-clr: var(--primary-container-highest-hsl);
      }

      &.filled {
        --_bg-clr: var(--primary-lowest-hsl);
      }
    }
  }
}
